jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "2.7.2"
          bundler-cache: true

      - uses: actions/configure-pages@v5

      - name: Build with Jekyll (trace on failure)
        run: bundle exec jekyll build --trace
